USE [master]
GO
/****** Object:  Database [todolist_]    Script Date: 7/12/2016 4:27:59 PM ******/
CREATE DATABASE [todolist_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'todolist_', FILENAME = N'C:\Users\epicodus\todolist_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'todolist__log', FILENAME = N'C:\Users\epicodus\todolist__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [todolist_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [todolist_]
GO
USE [todolist_]
GO
/****** Object:  Table [dbo].[duedate]    Script Date: 7/12/2016 4:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duedate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tasks]    Script Date: 7/12/2016 4:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[category_id] [int] NULL,
	[duedate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[types]    Script Date: 7/12/2016 4:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
