<h2> To Do List </h2>

<form action="/alltasks" method="post">
  <label for="newTask">Create A New Task</label>
  <input id="newTask" name="newTask">
  <button type="submit">Add Task</button>
</form>
